/* GENERAL SETTINGS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
  font-family: 'roboto';
  color: var(--color-dark);
}

:root {
  --color-hotpink: #e43da1ef;
  --color-white: #fff;
  --color-button: #d2d431;
  --color-black: #11101038;
  --color-dark: #000;
}
html, 
body {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  font-family: 'roboto';
}

@font-face {
    font-family: 'roboto';
    src: url(../root/assets/font/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'roboto';
    src: url(../root/assets/font/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'roboto';
    src: url(../root/assets/font/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}
h1 {
  font-size: 13rem;
  font-family: 'roboto';
  font-weight: bold;
  letter-spacing: 15px;
  text-transform: uppercase;
  color: transparent;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background: url(../root/assets/img/menu-classic-background.png);
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px var(--color-black);
  background-position: 0 0;
  animation: back 8s linear infinite;
}
@keyframes back {
  100% {
    background-position: 868px 0;
  }
}
h2 {
  font-size: 3rem;
  font-weight: lighter;
  padding: 30px 20px;
  margin: 20px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: 'roboto';
}
h3 {
  font-size: 2rem;
  font-family: 'roboto';
  padding: 30px 10px;
  margin: 20px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
ul li,
span {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER BEGIN */
header {
  height: 300px;
}
.nav-link li {
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.5rem;
    text-align: left;
}
.nav-link li a {
    color: var(--color-dark);
    transition: all .3s ease 0s;
    text-decoration: none;
}
.nav-link li a:hover {
    color: var(--color-hotpink);
}
#header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    background-color: lightblue;
}
#nav-right  {
  display: inline-block;
  padding: 0 1 rem;

}
/* HEADER END */

/* LOGIN FORM BEGIN */
.form-box {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 600px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: var(--color-white);
    border-radius: 30px;
    height: auto;
    border: 2px solid var(--color-dark);
}
.form-box .form-input {
    position: relative;
}
.form-box .form-input input {
    width: 100%;
    padding: 25px 0;
    margin-bottom: 30px;
    color: #000000;
    border: none;
    border-bottom: 1px solid #15263380;   
    outline: none;
    background: transparent;
    font-size: 20px;
}
.form-box .form-input label {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    padding: 10px 0;
    pointer-events: none;
    font-size: medium;
}
a .active {
  color: var(--color-hotpink);
}
/* Button */
.btn-nav {
    margin: 40px auto;  
    padding: 1rem 2rem;  
    text-transform: uppercase;
    background-color: var(--color-button);
    border: none;
    color: #000000;
    display: flex;
    letter-spacing: 5px;
    font-size: 1rem;
    font-weight: lighter;
    justify-content: center;
    line-height: 2rem;
    position: relative;
    text-align: center;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#btn-login {
    width: 45%;
    max-width: 460px;
}
#btn-logout {
    width: 75%;
    max-width: 440px;
    text-decoration: none;
}
#btn-logout a:hover{
  text-decoration: none;
}
.btn-nav:focus {
    outline: 0;
}
.btn-nav:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    text-decoration: none;
}
.btn-nav:hover:after {
    bottom: 2px;
    left: 2px;
    text-decoration: none;
}
@media (min-width: 768px) {
  .btn-nav {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

/* LOGIN FORM END */
/* LOGIN INFO BEGIN*/
.login-info {
  padding: 30px 20px;
  margin: 20px;
}
.area {
  width: inherit;
  height: auto;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin:  2rem auto;
    align-items: center;
    width: 100%;
    max-width: 1400px;
  }
  footer a {
    color: var(--color-dark);
    transition: all .3s ease 0s;
  }
  #footer-span {
    font-size: 1rem;
    font-weight: 400;
  }
  footer a:hover {
    text-decoration: none;
    color: var(--color-hotpink);
  }
