* {
  /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

:root {
  /* Fonts */
  --font-anton: Anton;
  --font-archivo: Archivo;
  --color-hotpink: #e43da1ef;
  --color-white: #e7dada;
  --color-button: #06c8d9;
}

/* General Formating */
html, body {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  font-family: var(--font-archivo);
}

ul li {
  list-style: none;
}

ul li a,
a {
  text-decoration: none;
}