/*----------------------------------------------------
@File: Specific CSS Styles
@Author: Maria Repolust
---------------------------------------------------- */

/*=====================================================================

Table of Content:
01/ Img Icons
02/ Nav
03/ Hero
04/ Slider
05/ Menu
06/ Footer

=====================================================================*/

/*  01 / Img Icons - Start */
#facebook-icon, 
#instagram-icon,
#burgerbar {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#facebook-icon,
#instagram-icon,
#burgerbar {
  margin-right: 1em;
}


/* Img Icons - End */
/* 02 / Nav - Start */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  height: 12%;
  padding: 2rem;
}
.nav-content {
  text-align: center;
}

/* Nav - Ende */
/* 03 / Hero Section */
.hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
  align-content: center;
}
.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-content: center;
  color: #fff;
  z-index: 1;
}

section{
  height: 500px;
  width: 100%;
  display: table;
}
.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
  margin: 40px auto;
  position: relative;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 50px;
  height: 50px;
  border: 3px solid var(--color-white);
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid var(--color-white);
  border-width: 0px 0 2px 2px;
}
/* Hero - End */
/* 04 / Slider - Begin */

.slider {
  width: 70%;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-container {
  display: flex;
  transition: transform 1s ease-in-out;
}

/* Slider - End */
/* 05 / Menu - Begin */
.menu-area {
  margin: auto;
  max-width: 100%;
  background-color: #99e9fd93;
  height: 120px;
  padding: 2.5rem;
}
.menu-product-donut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem;
}
.menu-product-description {
  display: flex;
  height: 30px;
  align-items: center;
  font-style: italic;
}
/* Menu - End */
/* 06 / Footer - Begin */
.footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin:  2rem auto;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}
#footer-span {
  font-size: 1rem;
  font-weight: 400;
}

/* Footer - End */





